<div class="container card mt-5">
    <header class="py-4 d-flex justify-content-between station-title">
        <h1>
            {{stationDetails.info.name}}
        </h1>
        <h2 class="d-flex flex-column" id="address">
            {{stationDetails.info.address.street}}
            <small id="locality">{{stationDetails.info.address.district}},
                {{stationDetails.info.address.province}}</small>
        </h2>

    </header>

    <section class="d-flex justify-content-between">
        <small><b class="mr-3">OPEN</b>{{stationDetails.info.open}}</small>
        <div id="features-wrapper">
            <button value="{{stationDetails.isFavorite}}" class="btn-station mr-6" id="btn-favorite"></button>
            <span id="ratings-wrapper">
                <button value="1" class="btn-station btn-rating" id="rate-1"></button>
                <button value="2" class="btn-station btn-rating" id="rate-2"></button>
                <button value="3" class="btn-station btn-rating" id="rate-3"></button>
                <button value="4" class="btn-station btn-rating" id="rate-4"></button>
                <button value="5" class="btn-station btn-rating" id="rate-5"></button>
            </span>
        </div>
    </section>

    <hr>

    <article class="mx-2">
        <h2>Prices</h2>
        <ul class="d-flex justify-content-around prices">
            <div class="fuel-type">
                <li> <img src="/img/gasoil.png" alt="gasoil can" class="price-icon"> Gasoil:
                    <ul>
                        <li class="product"> A: {{available stationDetails.prices.gasoil.a}}</li>
                        <li class="product">B: {{available stationDetails.prices.gasoil.b}}</li>
                    </ul>
                </li>
            </div>
            <div class="fuel-type">
                <li> <img src="/img/petrol.png" alt="petrol pump" class="price-icon"> Petrol:
                    <ul>
                        <li class="product">95 E5: {{available stationDetails.prices.petrol.octanes95E5}}</li>
                        <li class="product">98 E5: {{available stationDetails.prices.petrol.octanes98E5}}</li>
                    </ul>
                </li>
            </div>
            <div class="fuel-type">
                <li> <img src="/img/biofuel.png" alt="gasoil can" class="price-icon"> Biofuel:
                    <ul>
                        <li class="product"> Biodiesel: {{available stationDetails.prices.bio.biodiesel}}</li>
                        <li class="product"> Bioethanol: {{available stationDetails.prices.bio.bioetanol}}</li>
                    </ul>
                </li>
            </div>
            <div class="fuel-type">
                <li> <img src="/img/gas.png" alt="gasoil can" class="price-icon"> Natural Gas:
                    <ul>
                        <li class="product"> Compressed: {{available stationDetails.prices.gas.compressed}}</li>
                        <li class="product"> Liquefied: {{available stationDetails.prices.gas.liquefied}}</li>
                    </ul>
                </li>
            </div>
        </ul>
    </article>

    <hr>

    <section class="ml-2">
        <h3>Reviews</h3>
        <div id="reviews-wrapper">
            {{#each stationDetails.reviews as |review|}}

            <article class="card review">
                <div class="review-content">
                    <div class="review-first">
                        <p>
                            <b class="review-user">{{review.user.username}} says:</b>
                            <span class="review-body">{{review.body}}</span>
                        </p>
                    </div>
                    <div class="d-flex justify-content-between">
                        {{!--Need to edit the date with a hbs helper--}}
                        <small class="text-dark">{{date review.createdAt}}</small>


                        {{#owner ../currentUser.id review.user.id}}
                        <ul class="review-btns">
                            <button value="{{review.id}}/{{review.user.id}}"
                                class="text-muted btn-station edit-btn">Edit</button>
                            <button value="{{review.id}}/{{review.user.id}}"
                                class="text-danger btn-station delete-btn">Delete</button>
                        </ul>
                        {{/owner}}
                    </div>
                </div>
                <div class="avatar">
                    <a href="/users/details/{{review.user.id}}">
                        <img src="{{review.user.avatar}}" alt="user avatar" class="review-avatar-img">
                    </a>
                </div>
            </article>

            {{/each}}
        </div>

        <form class="form d-flex my-4" method="POST" action="#" id="create-form">
            <input type="text" name="review" id="post-review-input" placeholder="Write here your review"
                class="form-control">
            <button type="submit" class="btn btn-primary" id="create-btn">Submit!</button>
        </form>
    </section>
</div>
<script>
    const id = decodeURIComponent("{{{stationDetails.stationId}}}");
    const district = decodeURIComponent("{{stationDetails.stationDistrict}}");
    const userScore = decodeURIComponent("{{stationDetails.rating.score}}");
    const street = decodeURIComponent("{{stationDetails.info.address.street}}");
    const locality = document.getElementById('locality').innerText;
    const address = `${street} ${locality}`;
    const owner = decodeURIComponent("{{stationDetails.info.name}}");
    const userId = decodeURIComponent("{{currentUser.id}}");
    const isUserLogged = (userId) ? true : false;
</script>
<script src="/js/reviews.js"></script>
<script src="/js/ratings.js"></script>
<script src="/js/favorites.js"></script>
<script src="/js/station.js"></script>