<div class="container" id="dashboard-container">
    <div class="my-4 row">
        <div class="col-2">
            <img class=" w-100 avatar" src={{user.avatar}}>
        </div>

        <div class="col-10">
            <h1>{{user.username}}</h1>
            <p></p>
            <p>{{user.email}}</p>

            <a class="btn btn-secondary" href="/users/{{user._id}}/edit">
                <i class="fa fa-edit mr-2"></i>Edit</a>

            <form action="/users/{{user._id}}/delete" method="POST" class="mt-2">
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash mr-2"></i>
                    Remove account
                </button>
            </form>
        </div>

    </div>
    <div class="container">
        <h2>My favorite stations⛽</h2>
        <div class="mt-4">
            {{#each favorite}}
            <article class="favorite-station">
                <a href="http://localhost:3000/station/{{this.station.IDEESS}}/{{this.station.district}}" class="favorite-station__link">
                    <h4>{{this.station.owner}}</h4>
                    <h5>{{this.station.address}}</h5>
                </a>
            </article>
            {{/each}}
        </div>

    </div>
</div>