<div class="container form-wrapper">
  {{#if message}}
    <div class="alert alert-primary" role="alert">
      {{message}}
    </div>
  {{/if}}

  {{#if error.validation}}
    <div class="alert alert-danger" role="alert">
      {{error.validation.message}}
    </div>
  {{/if}}

  <form action="/login" method="POST">
    <div class="form-group">
      <label for="username">Username</label>
      <input name="username" type="text" class="form-control {{#if error.username }}is-invalid{{/if}}" id="email"
        placeholder="Enter username" value="{{ user.username }}" required>
  
      {{#if error.username}}
      <div class="invalid-feedback">
        {{error.username.message}}
      </div>
      {{/if}}
    </div>
  
    <div class="form-group">
      <label for="password">Password</label>
      <input name="password" type="password" class="form-control {{#if error.password }}is-invalid{{/if}}" id="password"
        placeholder="Enter password" value="{{ user.password }}" required>
  
      {{#if error.password}}
      <div class="invalid-feedback">
        {{error.password.message}}
      </div>
      {{/if}}
    </div>
  
    <div class="mb-3">
        <div>
            <button type="submit" class="btn btn-primary btn-block mb-3">Login</button>
        </div>
        <div>
            <a href="/login/google" class="btn btn-primary btn-block mb-3"><i class="fa fa-google"></i> Login with Google</a>
        </div>
        <div>
            <a href="/login/slack" class="btn btn-primary btn-block"><i class="fa fa-slack"></i> Login with Slack</a>
        </div>

    </div>
  
    <p>Don't have an account? <a href="/signup">register</a></p>
  </form>
</div>
